.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-family: serif;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    text-align: center;
    width: 400px;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;

}
img{
    width: 400px;
    height: 300px;
    margin: 10px;
    transition: all 3s;
}

img:hover{
    transform: scale(1.1);
}


body{
    margin: 0px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}